POSTGRES_DB=events
POSTGRES_USER=events
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5600
# придется дублировать параметры из .env сервиса, 
#но зато меняется только в одном месте не придется править docker-compose.yml