# Значения по умолчанию для запуска в docker compose.

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

NOTIFICATION_QUEUE=notifications
NOTIFICATION_HOST=0.0.0.0
NOTIFICATION_PORT=8001
